html {
    background-color: rgb(233, 233, 233);
    width: 100%;
}

header {
    margin-bottom: 2em;
}

#menu {
    background-color: rgb(133, 174, 177);
    text-align: right;
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    overflow: hidden;
}

ul {
    text-align: right;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.25em;
}

li {
    display: inline;
    padding: 10px;
    border: 1px solid;
    background-color: white;
    margin-right: 40px;
}

#foto {
    width: 5%;
    height: 10%;
    float: left;
    overflow: hidden;
}

#titulo {
    float: left;
    margin-left: 40px;
    overflow: hidden;
}

#fotocabecera {
    width: 80%;
    height: 450px;
    margin-left: 5.5em;
    padding: 2em;
}

.medio{
    width: 96%;
    margin-left: 2em;
    margin-right: 2em;  
    clear: both;  
    line-height: 1.6em;
}

#mapa {
    margin-top: 3em;
    float: left;
    clear: both;
}

#direccion {
    margin-top: 3em;
    float: right;
}

#atencionCliente {
    float: right;
    border: 2px outset black;
    padding: 1em;
    margin-top: 8em;
    margin-right: 4em;
}

footer{
    margin-top: 2em;
    width: 96%;
    margin-left: 2em;
    margin-right: 2em;  
    clear: both; 
}

.casillasFotter{
    width:23%;
    border: 2px  outset black;
    background-color: white;
    display:inline-table;
    margin: 0.5em;
    padding: 2em;
    text-align: center;


}

fieldset{
    clear: both;
}

.fotoRedes{
    width: 10%;
    height: 10%;
    margin: 1em;
    float: inline;
}

#siguenos{
    width: 100%;
    clear:both;
}

#a{
    width: 100%;
    clear:both;
    
}

#fotoFotter{
    width: 20%;
    height: 20%;
}
